<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        .bg-cover {
            background-image: url('../static/images/introduction/20241214_165909.jpg');
        }
    </style>
</head>
<body class="bg-cover bg-center h-screen flex items-center backdrop-blur-sm justify-center">
    <div class="bg-white bg-opacity-65 p-8 rounded-lg shadow-lg w-full max-w-sm">
        <h2 class="text-2xl font-bold text-blue-800 mb-6 text-center">Login</h2>
        <form action="#" method="POST">
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Email :</label>
                <input type="email" id="email" name="email" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
            </div>
            <div class="mb-6">
                <label for="password" class="block text-sm font-medium text-gray-700">Password :</label>
                <input type="password" id="password" name="password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
            </div>
            <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Login</button>
            <!--Login with google using google image on the button-->
            <button class="flex items-center justify-center ml-14 mt-2 border border-gray-300 px-4 py-2 rounded-lg shadow-sm text-gray-600 bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-blue-500">
                <img src="https://img.icons8.com/?size=100&id=V5cGWnc9R4xj&format=png&color=000000" alt="Google Logo" class="w-10 h-8 px-1">
                <span class="font-medium">Sign in with Google</span>
            </button>
        </form>
        <p class="mt-4 text-center text-sm text-gray-800">Don't have an account? <a href="sign_up.html" class="text-indigo-800 hover:text-indigo-800">Sign Up</a></p>
    </div>
</body>
</html>